.be-cashier {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	overflow: hidden;

	.cashier-body {
		width: 100%;
		height: 100%;
		overflow-y: inherit;
	}

	.list-table {
		display: grid;
		grid-template-columns: 1fr 4fr;
		height: 100%;

		.table-left {
			box-shadow: 0 0 5px rgba(0,0,0,0.15);
			height: 100%;
			overflow-y: auto;
			background-color: #d3d6e3;

			.list-phong {
				font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
				padding: 10px 0;

				li {
					margin: 0;
					list-style: none;
					padding: 3px 10px;

					.phong__button {
						width: 100%;
						padding: 10px;
						text-align: center;
						border: none;
						background-color: transparent;
						font-weight: 500;
						color: $color-gray;
						border-radius: 6px;
						transition: all 0.2s;

						&.active {
							background-color: #ff8c42;
							font-weight: 600;
							color: $color-white;
							box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
						}
					}
				}
			}
		}

		.table-right {
			height: 100%;
			overflow-y: inherit;
			border: 1px solid #e9ebf1;

			.right_title {
				background-color: #e9ebf1;
				font-size: 20px;
				font-weight: bold;
				padding: 10px 15px;
				color: $color-black;
			}

			.right-top, .right-bottom {


				.right_body {
					padding: 15px;
					display: grid;
					grid-gap: 10px;
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

					.ban-item {
						height: 80px;
						border-radius: 5px;
						background-color: #FFBABA;
						border: 3px solid #f78764;
						font-size: 16px;
						font-weight: bold;
					}
				}
			}

			.right-bottom {


				.right_body {
					.ban-item {
						background-color: #BDFE9F;
						border: 3px solid #BAF2BB;

						&.inuse {
							background-color: #FFE679;
							border: 3px solid #f5d78a;
							position: relative;

							&::after {
								content: "Đang dùng";
								font-size: 12px;
								color: $color-gray;
								position: absolute;
								bottom: 0;
								left: 50%;
								width: 100%;
								transform: translateX(-50%);

							}
						}
					}
				}
			}
		}
	}

	.cashier-detail {
		height: 100%;
		width: 100%;
		display: flex;
		overflow: hidden;
		flex-direction: column;

		.detail-top {
			height: 100%;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			.top-list {
				height: 100%;
				overflow-y: auto;
				padding-top: 65px;
				position: relative;

				.list-item {
					width: 100%;
					height: 40px;
					padding: 0 20px;
					display: grid;
					grid-template-columns: 5fr 3fr 3fr;

					.item-name {
						font-weight: 500;
						display: flex;
						align-items: center;
					}

					.item-count {
						display: flex;
						align-items: center;
						text-align: center;
						justify-content: center;
						text-decoration: underline;
					}

					.item-cash {
						display: flex;
						align-items: center;
						text-align: right;
						justify-content: flex-end;
					}

					&:nth-child(odd) {
						background-color: #FFF8F0;
					}

					&.list-header {
						position: absolute;
						top: 20px;
						left: 10px;
						width: calc(100% - 20px);
						background-color: #ff8c42;
						padding: 0 10px;
						border-radius: 5px;
						box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

						.item-name, .item-count, .item-cash {
							color: $color-white;
							font-weight: 500;
							text-decoration: none;
						}
					}
				}
			}

			.top-note {
				padding: 10px 15px;
				border-top: 1px solid #FFF8F0;

				.note-body {
					padding: 10px 10px 10px 20px;
					display: flex;
					align-items: center;
					background-color: #FFF8F0;
					font-size: 14px;

					i {
						font-size: 16px;
						margin-right: 20px;
					}
				}
			}

			.top-detail {
				min-height: 60px;
				max-height: 60px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				padding: 0 5px;
				border-top: 1px solid #ff8c42;

				.detail-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 10px;
					color: #ff8c42;
					white-space: nowrap;

					.item-right {
						text-align: right;
					}

					.item-input {
						height: 20px;
						width: 50%;
						margin-right: 5px;
					}
				}
			}
		}

		.detail-option {
			min-height: 60px;
			max-height: 60px;
			display: flex;
			background-color: #ff8c42;

			.option-item {
				width: 50%;

				.item-btn {
					width: 100%;
					height: 100%;
					border: none;
					background-color: transparent;
					color: $color-white;
					font-weight: 500;
					padding-top: 3px;

					i {
						margin-bottom: 5px;
						font-size: 18px;
					}
				}

				.dropdown-menu {
					width: 100%;
					border-radius: 0;
				}
			}
		}
	}
}