.be-cashier {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	overflow: hidden;

	.cashier-body {
		width: 100%;
		height: 100%;
		overflow-y: inherit;
	}

	.list-table {
		display: grid;
		grid-template-columns: 1fr 4fr;
		height: 100%;

		.table-left {
			box-shadow: 0 0 5px rgba(0,0,0,0.15);
			height: 100%;
			overflow-y: auto;
			background-color: #d3d6e3;

			.list-phong {
				font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
				padding: 10px 0;

				li {
					margin: 0;
					list-style: none;
					padding: 3px 10px;

					.phong__button {
						width: 100%;
						padding: 10px;
						text-align: center;
						border: none;
						background-color: transparent;
						font-weight: 500;
						color: $color-gray;
						border-radius: 6px;
						transition: all 0.2s;

						&.active {
							background-color: #ff8c42;
							font-weight: 600;
							color: $color-white;
							box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
						}
					}
				}
			}
		}

		.table-right {
			height: 100%;
			overflow-y: inherit;
			border: 1px solid #e9ebf1;

			.right_title {
				background-color: #e9ebf1;
				font-size: 20px;
				font-weight: bold;
				padding: 10px 15px;
				color: $color-black;
			}

			.right-top, .right-bottom {


				.right_body {
					padding: 15px;
					display: grid;
					grid-gap: 10px;
					grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

					.ban-item {
						height: 80px;
						border-radius: 5px;
						background-color: #FFBABA;
						border: 3px solid #f78764;
						font-size: 16px;
						font-weight: bold;
            position: relative;
					}
				}
			}

			.right-bottom {


				.right_body {
					.ban-item {
						background-color: #BDFE9F;
						border: 3px solid #BAF2BB;
            position: relative;

            &.READY {
              cursor: unset;
            }

						&.BUSY {
							background-color: #FFE679;
							border: 3px solid #f5d78a;
							position: relative;
              transition: all 0.1s;

              &:hover {
                transform: scale(1.1);
              }

              .ban-staff {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 15px;
                background-color: #f5d78a;
                text-align: left;
                color: $color-gray;
                font-size: 10px;
                padding: 0 5px;
              }

              .ban-time {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15px;
                text-align: left;
                color: $color-gray;
                font-size: 10px;
                padding: 0 5px;
              }
						}

            &.ORDERED, &.FULL {
              background-color: #FFBABA;
              border: 3px solid #f78764;
              position: relative;
              transition: all 0.1s;

              &:hover {
                transform: scale(1.1);
              }

              .ban-staff {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 15px;
                background-color: #f78764;
                text-align: left;
                color: $color-gray;
                font-size: 10px;
                padding: 0 5px;
              }

              .ban-time {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 15px;
                text-align: left;
                color: $color-gray;
                font-size: 10px;
                padding: 0 5px;
              }
            }


            .ban-order-status {
              position: absolute;
              bottom: 2px;
              right: 3px;
              color: $color-gray;

              img {
                height: 20px;
                width: auto;
              }
            }
					}
				}
			}
		}
	}

	.cashier-detail {
		height: 100%;
		width: 100%;
		display: flex;
		overflow: hidden;
		flex-direction: column;

		.detail-top {
			height: 100%;
			display: flex;
			flex-direction: column;
			overflow: hidden;

			.top-list {
				height: 100%;
				overflow-y: auto;
				padding-top: 65px;
				position: relative;

				.list-item {
					width: 100%;
          height: auto;
					min-height: 40px;
					padding: 5px 20px;
					display: grid;
					grid-template-columns: 5fr 3fr 3fr;

					.item-name {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__top {
              font-weight: 500;
              display: flex;
            }

            &__topping {
              display: flex;
              align-items: flex-start;
              font-size: 10px;
              padding-left: 10px;

              .fa-reply {
                position: relative;
                transform: rotate(180deg);
                margin-top: 3px;
                font-size: 8px;
              }

              &--list {
                padding-left: 5px;

              }

              &--item {
                color: $color-gray;
              }
            }
					}

					.item-count {
						display: flex;
						text-align: center;
						justify-content: center;
						text-decoration: underline;
					}

					.item-cash {
						display: flex;
						text-align: right;
						justify-content: flex-end;
					}

					&:nth-child(odd) {
						background-color: #FFF8F0;
					}

					&.list-header {
						position: absolute;
						top: 20px;
						left: 10px;
						width: calc(100% - 20px);
						background-color: #ff8c42;
						padding: 0 10px;
						border-radius: 5px;
						box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

						.item-name, .item-count, .item-cash {
							color: $color-white;
							font-weight: 500;
							text-decoration: none;
              align-items: center;
						}

            .item-name {
              align-items: flex-start;
            }
					}
				}
			}

			.top-note {
				padding: 10px 15px;
				border-top: 1px solid #FFF8F0;

				.note-body {
					padding: 10px 10px 10px 20px;
					display: flex;
					align-items: center;
					background-color: #FFF8F0;
					font-size: 14px;

					i {
						font-size: 16px;
						margin-right: 20px;
					}
				}
			}

			.top-detail {
				min-height: 60px;
				max-height: 60px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				padding: 0 5px;
				border-top: 1px solid #ff8c42;

				.detail-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 10px;
					color: #ff8c42;
					white-space: nowrap;

					.item-right {
						text-align: right;
					}

					.item-input {
						height: 20px;
						width: 60%;
						margin-right: 1px;
            text-align: right;
					}
				}
			}
		}

		.detail-option {
			min-height: 60px;
			max-height: 60px;
			display: flex;
			background-color: #ff8c42;

			.option-item {
				width: 50%;

				.item-btn {
					width: 100%;
					height: 100%;
					border: none;
					background-color: transparent;
					color: $color-white;
					font-weight: 500;
					padding-top: 3px;

					i {
						margin-bottom: 5px;
						font-size: 18px;
					}
				}

				.dropdown-menu {
					width: 100%;
					border-radius: 0;
				}
			}
		}
	}
}
