.be-food {
  padding: 20px;
  overflow: auto;
  width: 100%;
  font-size: 14px;

  .be-title {
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    margin-top: 20px;
  }

  .be-select {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

    .be-select--left {
      width: 70%;
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
      grid-column-gap: 15px;
      height: 40px;
    }

    .be-select--left__flex {
      display: flex;
      flex-wrap: wrap;

      select, input {
        margin-right: 15px;
        margin-top: 15px;
        width: 200px;
        height: 40px;
      }

      button {
        margin-right: 15px;

        i {
          margin-right: 5px;
        }
      }
    }

    .be-select--right {
      display: flex;

      button {
        margin-left: 15px;
      }
    }

    .select__name, .select__type {
      border-radius: 0;
      border: 1px solid $color-light-gray;
      padding: 0 10px;
    }

    .select__type {
      cursor: pointer;
    }
  }

  .food-list {
    width: 100%;
    margin-top: 40px;
    border: 1px solid $color-green;

    .list__title {
      height: 50px;
      background-color: $color-green;
      font-size: 20px;
      text-transform: uppercase;
      padding: 0 15px;
      color: $color-white;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;

      i {
        margin-right: 15px;
      }
    }

    .list-body {
      padding: 15px;

      .list__option {
        padding-bottom: 20px;
      }

      .list__table {
        width: 100%;
        border-top: 1px solid $color-light-gray;

        thead {
          tr {
            th {
              background-color: $color-light-gray;
              color: $color-white;
            }
          }
        }

        tr {
          border-bottom: 1px solid $color-light-gray;
          border-left: 1px solid $color-light-gray;

          th, td {
            border-right: 1px solid $color-light-gray;
            padding: 4px 5px;
            text-align: center;

            input, textarea, select {
              border: 1px solid transparent;
              border-radius: 0;
              width: 100%;
              height: 30px;
              padding: 5px 10px;
              cursor: pointer;
              transition: all 0.2s;

              &:hover, &:focus {
                border: 1px solid $color-light-gray;
              }
            }

            input[type='checkbox'] {
              width: 12px;
            }

            .add-new {
              color: $color-green;
              font-size: 16px;
              cursor: pointer;
            }
          }

          .table__stt {
            width: 70px;
            border: 1px solid $color-light-gray;
            border-radius: 0;
          }

          .table__option {
            display: flex;

            &-inline {
              flex-direction: row;

              button {
                flex: 1;
              }
            }

            &--link {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 4px;

              &:hover {
                color: $color-white;
              }
            }
          }
        }
      }

      .list__pagging {
        width: 100%;
        padding-top: 20px;
        display: flex;
        justify-content: center;

        .pagging-item {
          border: 1px solid $color-light-gray;
          color: $color-gray;
          background-color: transparent;
          margin: 0 2px;

          &.active {
            background-color: $color-green;
            color: $color-white;
            border: 1px solid $color-green;
            cursor: unset;
          }
        }
      }
    }
  }

  .dish-addnew {
    width: 100%;
    margin-top: 40px;
    border: 1px solid $color-green;

    .an__title {
      height: 50px;
      background-color: $color-green;
      font-size: 20px;
      text-transform: uppercase;
      padding: 0 15px;
      color: $color-white;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;

      i {
        margin-right: 15px;
      }
    }

    .an-body {
      padding: 15px;

      .an-form {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .an-item {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 3px;

            .starr {
              color: $color-red;
            }
          }

          input, select {
            border-radius: 0;
            border: 1px solid $color-light-gray;
            padding: 0 10px;
            height: 35px;

            &.input-number {
              text-align: right;
            }
          }

          textarea {
            border-radius: 0;
            border: 1px solid $color-light-gray;
            padding: 10px;
          }

          .an-item-select {
            display: flex;

            .dropdown {
              .an-item-select__button {
                border: none;
                background-color: $color-green;
                color: $color-white;
              }

              .dropdown-menu {
                border-radius: 0;

                .dropdown-item {
                  font-size: 14px;
                  cursor: pointer;
                }
              }
            }

            .an-item-select__list {
              li {

                .remove {
                  font-size: 12px;
                  color: $color-red;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .an-material {

        &__title {
          padding-top: 25px;
          padding-bottom: 3px;
        }

        &__table {
          width: 100%;
          border-top: 1px solid $color-light-gray;

          thead {
            tr {
              th {
                background-color: $color-light-gray;
                color: $color-white;
              }
            }
          }

          tr {
            border-bottom: 1px solid $color-light-gray;
            border-left: 1px solid $color-light-gray;

            th, td {
              border-right: 1px solid $color-light-gray;
              padding: 4px 5px;
              text-align: center;

              input, textarea, select {
                border: 1px solid transparent;
                border-radius: 0;
                width: 100%;
                height: 30px;
                padding: 5px 10px;
                cursor: pointer;
                transition: all 0.2s;

                &:hover, &:focus {
                  border: 1px solid $color-light-gray;
                }
              }

              input[type='checkbox'] {
                width: 12px;
              }

              .add-new {
                color: $color-green;
                font-size: 20px;
                cursor: pointer;
              }
            }

            .table__stt {
              width: 70px;
              border: 1px solid $color-light-gray;
              border-radius: 0;
            }

            .table__option {
              display: flex;
              flex-direction: column;

              &-inline {
                flex-direction: row;
              }

              &--link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 4px;

                &:hover {
                  color: $color-white;
                }
              }

              &-inline {
                flex-direction: row;

                button {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      .an-submit {
        display: flex;
        padding-top: 20px;
        justify-content: center;

        button {
          height: 35px;
          padding: 0 25px;
          border: none;
          text-transform: uppercase;
          font-weight: 500;

          &.an-submit__cancel {
            margin-right: 15px;
          }

          &.an-submit__save {
            background-color: $color-green;
            color: $color-white;
          }
        }
      }

    }
  }

}
