.rs-navbar {
    background-color: $color-green;
    font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1024;
    padding: 0 15px;
    width: 100%;

    .navbar-brand {
        font-weight: bold;
        color: $color-white;
        padding: 0;
    }

    .navbar-option {
        .navbar-button {
            border: none;
            background-color: transparent;
            color: $color-white;
            font-weight: 500;

            i {
                margin-left: 10px;
                font-size: 14px;
            }
        }

        .dropdown-menu {
            border-radius: 0;
            border: none;
            box-shadow: 0 0 10px $color-black;
        }
    }
}