.login {
    width: 100%;
    height: 100%;
    background-color: $color-green;
    display: flex;
    justify-content: center;
    align-items: center;

    &-form {
        padding: 30px 40px;

        .login__title {
            text-align: center;
            font-size: 26px;
            font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
            font-weight: bold;
            color: $color-white;
            padding-bottom: 50px;
            text-transform: uppercase;
        }
    }

    &-body {
        .body-item {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;

            label {
                color: $color-white;
                font-weight: bold;
                margin-bottom: 5px;
            }

            input {
                border: none;
                border-bottom: 1px solid $color-white;
                color: $color-white;
                background-color: transparent;
                height: 30px;
            }

            button {
                border-radius: 5px;
                height: 40px;
                background-color: $color-white;
                color: $color-green;
                border: none;
                font-size: 16px;
                font-weight: bold;
                margin-top: 20px;
                position: relative;
                transition: all 0.2s;

                &:hover {
                    transform: translateY(-3px) translateX(-2px);
                    box-shadow: 4px 6px 0 rgba(255,255,255,0.3);
                }

                &:focus {
                    transform: translateY(0) translateX(0);
                    box-shadow: 0 0 0 rgba(255,255,255,0.3);
                }
            }
        }

      .login-error {
        color: $color-red;
      }
    }
}

.check-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-green;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;

  &-form {
    padding: 30px 40px;

    .login__title {
      text-align: center;
      font-size: 26px;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
      font-weight: bold;
      color: $color-white;
      text-transform: uppercase;
    }
  }

  .loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    height: 65px;
    animation: loadding-showing 0.5s both;
  }

  .hollow-dots-spinner, .hollow-dots-spinner * {
     box-sizing: border-box;
   }

  .hollow-dots-spinner {
    height: 15px;
    width: calc(30px * 3);
  }

  .hollow-dots-spinner .dot {
    width: 15px;
    height: 15px;
    margin: 0 calc(15px / 2);
    border: calc(15px / 5) solid $color-white;
    border-radius: 50%;
    float: left;
    transform: scale(0);
    animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
  }

  .hollow-dots-spinner .dot:nth-child(1) {
    animation-delay: calc(300ms * 1);
  }

  .hollow-dots-spinner .dot:nth-child(2) {
    animation-delay: calc(300ms * 2);
  }

  .hollow-dots-spinner .dot:nth-child(3) {
    animation-delay: calc(300ms * 3);

  }

  @keyframes hollow-dots-spinner-animation {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes loadding-showing {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 65px;
      opacity: 1;
    }
  }


}
