.modal-backdrop {
  opacity: .5;
}

.modal-dialog {
  &.modal-xl {
    max-width: 1399px;
  }
}

.modal-content {
  border-radius: 0;
  border: none;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);

  .modal-body {
    padding: 0;

    .modal-head {
      background-color: $color-green;
      font-family: "Montserrat", "Roboto", Arial, Helvetica, sans-serif;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        @include setTextStyleColor(20px, 26px, 500, $color-white);
        text-transform: uppercase;

        i {
          margin-right: 10px;
        }
      }

      &__btn {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
      }

      &__close {
        font-size: 26px;
        line-height: 26px;
        color: $color-white;
        cursor: pointer;
      }

      &.modal-head-yellow {
        background-color: $color-yellow;
      }

      &.modal-head-white {
        background-color: $color-white;
        border-bottom: 1px solid $color-light-gray;

        .modal-head__title {
          @include setTextStyleColor(20px, 26px, 500, $color-black);

          i {
            margin-right: 10px;
          }
        }

        .modal-head__close {
          font-size: 26px;
          line-height: 26px;
          color: $color-black;
          cursor: pointer;
        }
      }
    }

    .modal-body {
      padding: 20px 30px;
      .an-form {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .an-item {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 3px;

            .starr {
              color: $color-red;
            }
          }

          input, select {
            border-radius: 0;
            border: 1px solid $color-light-gray;
            padding: 0 10px;
            height: 35px;

            &:disabled {
              background-color: #d9d9d9;
            }

            &.input-number {
              text-align: right;
            }
          }

          textarea {
            border-radius: 0;
            border: 1px solid $color-light-gray;
            padding: 10px;
          }

          .an-item-select {
            display: flex;

            .dropdown {
              .an-item-select__button {
                border: none;
                background-color: $color-green;
                color: $color-white;
              }

              .dropdown-menu {
                border-radius: 0;

                .dropdown-item {
                  font-size: 14px;
                  cursor: pointer;
                }
              }
            }

            .an-item-select__list {
              li {

                .remove {
                  font-size: 12px;
                  color: $color-red;
                  cursor: pointer;
                }
              }
            }
          }

          .double-input {
            display: flex;
            align-items: center;

            input {
              width: 100%;
            }

            span {
              padding: 0 3px;
            }
          }

          .left-input {
            display: flex;

            input {
              width: 100%;
            }

            span {
              padding: 0 10px;
            }
          }

          .donvi-input {
            width: 70% !important;
            min-width: 50%;
          }

          .donvi-div {
            word-break: break-word;
            line-height: 17px;
          }
        }
        .an-item-vue-select {
          display: flex;
          flex-direction: column;

          label {
            margin-bottom: 3px;

            .starr {
              color: $color-red;
            }
          }

          .vs__dropdown-toggle {
            height: 35px;
            border-radius: 0;
            border: 1px solid $color-light-gray;

            .vs__selected-options {
              .vs__selected {
                height: 25px;
              }
            }
          }
        }
      }

      .an-material {

        &__title {
          padding-top: 25px;
          padding-bottom: 3px;
        }

        &__table {
          width: 100%;
          border-top: 1px solid $color-light-gray;

          thead {
            tr {
              th {
                background-color: $color-light-gray;
                color: $color-white;
              }
            }
          }

          tr {
            border-bottom: 1px solid $color-light-gray;
            border-left: 1px solid $color-light-gray;

            th, td {
              border-right: 1px solid $color-light-gray;
              padding: 4px 5px;
              text-align: center;

              .td-input, td-textarea, .td-select {
                border: 1px solid $color-light-gray;
                border-radius: 0;
                width: 100%;
                height: 30px;
                padding: 5px 10px;
                cursor: pointer;
                transition: all 0.2s;
              }

              .td-select {
                border: 1px solid transparent;
              }

              .td-input[type='checkbox'] {
                width: 12px;
              }

              .add-new {
                color: $color-green;
                font-size: 20px;
                cursor: pointer;
              }
              .v-select {
                min-width: 111px;

                .vs__dropdown-toggle {
                  border: none;
                }

                .vs__clear {
                  position: relative;
                  bottom: 1px;
                }
              }
            }

            .table__stt {
              width: 70px;
              border: 1px solid $color-light-gray;
              border-radius: 0;
            }

            .table__option {
              display: flex;
              flex-direction: column;

              &-inline {
                flex-direction: row;
              }

              &--link {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 4px;

                &:hover {
                  color: $color-white;
                }
              }

              &-inline {
                flex-direction: row;

                button {
                  width: 50%;
                }
              }
            }
          }
        }
      }

      .an-submit {
        display: flex;
        justify-content: center;
        padding: 30px 0 10px 0;

        .btn-cancel {
          border: none;
          background-color: transparent;
          color: $color-black;
          height: 40px;
          padding: 0 30px;
        }
      }
    }

    .modal-report {
      padding: 20px 30px;

      &__top {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;

        .top-item {
          width: 49.98%;
          padding: 0 10px;
          margin-bottom: 5px;
          word-break: break-word;

          &__value {
            font-weight: 600;
          }
        }

        .top-item-free {
          padding-right: 30px;
          margin-bottom: 5px;

          &__value {
            font-weight: 600;
          }

          &__input {
            height: 30px;
            border-radius: 0;
            border: 1px solid $color-light-gray;
            padding: 0 5px;
          }

          .mx-datepicker {
            margin-right: 15px;
            width: 180px;

            input {
              font-family: "Roboto", Arial, Helvetica, sans-serif;
              margin-right: 0;
              border: 1px solid $color-light-gray;
              border-radius: 0;
              box-shadow: none;
              cursor: pointer;
              height: 30px;
            }

            .mx-icon-calendar {
              cursor: pointer;
            }
          }
        }
      }

      &__body {
        margin-top: 30px;
        margin-bottom: 20px;
        max-height: 50vh;
        overflow-y: auto;
        border: 1px solid gray;

        .body-table {
          width: 100%;
          border-top: 1px solid $color-light-gray;
          border-left: 1px solid $color-light-gray;

          tr {
            border-bottom: 1px solid $color-light-gray;

            th, td {
              border-right: 1px solid $color-light-gray;
              padding: 10px;

              .fa-file-import {
                color: $color-green;
                position: relative;
                margin-right: 11px;
              }

              .fa-file-export {
                color: $color-yellow;
                position: relative;
                margin-right: 10px;
                left: 3px;
              }
            }
          }
        }
      }

      &__sum {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;

        &-item {
          margin-left: 50px;

          .fa-file-import {
            color: $color-green;
            position: relative;
            margin-right: 5px;
          }

          .fa-file-export {
            color: $color-yellow;
            position: relative;
            margin-right: 5px;
            left: 3px;
          }
        }
      }
    }

    .bill-body {
    }
  }
}

.toasted-container {
  &.top-right {
    top: 20px;
    right: 20px;
  }
}
