@charset "UTF-8";

//variable
$color-green: #24C3A3;
$color-white: #fff;
$color-black: #464646;
$color-gray: #707070;
$color-light-gray: #a9a9a9;
$color-red: #F05348;
$color-yellow: #F6A922;

html {
    scroll-behavior: smooth;
}

a:hover {
    text-decoration: none ;
}

body {
    background-color: #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

button:hover,
button:focus,
input,
select,
textarea,
a:hover,
a:focus
{
    outline: none !important;
}

//class variable
%default-background-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

%default-text {
    overflow: hidden;
    display: -webkit-box;
    word-break: break-word;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@mixin setTextStyle($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin setTextStyleColor($font-size, $line-height, $font-weight, $font-color) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $font-color;
}

.hidden {
    display: none !important;
}

#root {
    height: 100%;
}

.btn-default-green {
    border: none;
    background-color: $color-green;
    color: $color-white;
    font-weight: bold;
    height: 40px;
    padding: 0 30px;
}

.btn-xs {
    height: 25px;
    padding: 0 10px;
    font-size: 12px;
}

.btn-red {
    background-color: $color-red;
}

.btn-yellow {
    background-color: $color-yellow;
}

#app {
  height: 100%;
}

@import "header";
@import "body";
@import "login";
